{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>영화 감상 후기 메인 사이트 - Doyeon0430</title>
<meta name="description" content="상업영화, 드라마 ,OTT 오리지널 시리즈 등 영화 리뷰를 하는 블로그입니다.">
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="영화 감상 후기 메인 사이트 - Doyeon043" /> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'movie:main' %}" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="상업영화, 드라마 ,OTT 오리지널 시리즈 등 영화 리뷰를 하는 블로그입니다." /> 
<meta property="og:image" content="https://cdn.pixabay.com/photo/2014/02/02/17/40/photographs-256888_1280.jpg">
{% endblock %}
{% block content %}

<div class="container background_design" >
    <div class="container pt-3 pb-3">

        <div class="container">
            <div class="row justify-content-end my-3">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3">
                    <div class="input-group">
                        <input type="text" placeholder="제목 입력" style="border: 1px solid rgb(184, 184, 184);" id="search_kw" value="{{ kw|default_if_none:'' }}" class="form-control">
                        <button type="button" id="btn_search" class="btn btn-primary">검색</button>
                    </div>
                </div>
            </div>
        </div>

        {% for m in page_obj %}
            <div class="row home_intro" OnClick="location.href ='{% url "movie:detail" m.id %}'" style="cursor:pointer;">
                <div class="col-5 movie_col" >
                    <div>
                        {% if m.photo %}
                            <img class="movie_image" src="{{ m.photo.url }}" alt="{{ m.subject }} 이미지">
                        {% endif %}
                    </div>
                </div>

                <div class="col-7 movie_col">
                    <h2 class="movie_title">
                        [{{ m.subject }}] 후기
                    </h2>

                    <h2 class="movie_content">
                        {% if m.content|length > 60 %}
                            {{ m.content|truncatechars:60 }}... 더보기
                        {% else %}
                            {{ m.content }}
                        {% endif %}
                    </h2>

                    <div class="movie_date">
                        · {{ m.genre }}
                    </div>  
                    <div class="movie_date">
                        <span>· {{ m.create_date|date:"Y년 m월 d일" }}</span>
                    </div>
                </div>
            </div>
    {% endfor %}
    
    
        
        

    <div>
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination" style="display: block; text-align: center;">
                <span class="step-links">

                    <!-- 이전 페이지 -->
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" id="prev-page-link"><</a>
                    {% else %}
                        <a class="disabled" style="pointer-events: none"><</a>
                    {% endif %}

                    <!-- 이전 페이지 -2 생성 -->
                    {% if page_obj.has_next == 0 %}
                    {% if page_obj.number != 2 %}
                        <a href="?page={{page_obj.number|add:-2}}">{{page_obj.number|add:-2}}</a>
                    {% endif %}
                    {% endif %}

                    <!-- 페이지 리스트 -->
                    {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number >= page_obj.number|add:-1 and page_number <= page_obj.number|add:1 %}
                        {% if page_number == page_obj.number %}
                        <a class="current_page" style="color:white">{{page_number}}</a>
                        {% else %}
                        <a href="?page={{ page_number }}">{{page_number}}</a>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                    <!-- 다음 페이지 +2 생성 -->
                    {% if page_obj.has_previous == 0 %}
                    {% if django_list.count >= 10 %}
                        <a href="?page={{page_obj.number|add:2}}">{{page_obj.number|add:2}}</a>
                    {% endif %}
                    {% endif %}
                    
                    <!-- 다음 페이지 -->
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" id="prev-page-link">></a>
                    {% else %}
                        <a class="disabled" style="pointer-events: none">></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    
    </div>
    
</div>
<form id="searchForm" method="get" action="{% url 'movie:main' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}