{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8497490320648322"
crossorigin="anonymous"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8497490320648322",
    enable_page_level_ads: true,
    overlays: {bottom: true}
  });
</script>
<title>영화 감상 후기 블로그</title>
<meta name="title" content="영화 감상 후기 블로그"/>
<meta name="description" content="상업영화, 드라마 ,OTT 오리지널 시리즈 등 영화 리뷰를 하는 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="영화 감상 후기 블로그"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'movie:main' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="상업영화, 드라마 ,OTT 오리지널 시리즈 등 영화 리뷰를 하는 블로그입니다."/> 
<meta property="og:image" content="https://www.doyeon0430.com/media/mywork/doyeon0430_logo.jpg"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container col-lg-9 background_design" >
            <div class="container pt-3 pb-3">
                <div class="row justify-content-between my-3">
                    <div class="col-4 col-sm-3 col-md-2 col-lg-2">
                        <select class="form_select form-select form-select-sm mt-1 border-2 border-gray" aria-label=".form-select-sm example" onchange="dropdownForm(this.value)">
                            <option value="" {% if selected_value == '' %}selected{% endif %}>전체</option>
                            <option value="상업영화" {% if selected_value == '상업영화' %}selected{% endif %}>상업영화</option>
                            <option value="드라마" {% if selected_value == '드라마' %}selected{% endif %}>드라마</option>
                            <option value="OTT" {% if selected_value == 'OTT' %}selected{% endif %}>OTT</option>
                        </select>                                                    
                    </div>
                    
                    
                    <div class="col-7 col-sm-6 col-md-4 col-lg-3">
                        <div class="input-group">
                            <input type="text" placeholder="제목 입력" style="border: 1px solid rgb(184, 184, 184);" id="search_kw" value="{{ kw|default_if_none:'' }}" class="form-control">
                            <button type="button" id="btn_search" class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </div>
                {% for m in page_obj %}
                    <div class="row home_intro" OnClick="location.href ='{% url "movie:detail" m.id %}'" style="cursor:pointer;">
                        <div class="col-5 movie_col" >
                            <div>
                                {% if m.photo %}
                                    <img class="movie_image" src="{{ m.photo.url }}" alt="{{ m.subject }} 이미지">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-7 movie_col">
                            <h2 class="movie_title">
                                [{{ m.subject }}] 후기
                            </h2>

                            <h2 class="movie_content">
                                {% if m.content|length > 60 %}
                                    {{ m.content|truncatechars:60 }}... 더보기
                                {% else %}
                                    {{ m.content }}
                                {% endif %}
                            </h2>

                            <div class="movie_date">
                                · {{ m.genre }}
                            </div>  
                            <div class="movie_date">
                                <span>· {{ m.create_date|date:"Y년 m월 d일" }}</span>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            
            
                
                

            <div style="cursor: pointer;">
                {% if page_obj.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
            
                        <!-- 이전 페이지 -->
                        <li class="page-item">
                        {% if page_obj.has_previous %}
                            <a class="page-link" onclick="pageForm('{{page_obj.previous_page_number}}');" id="prev-page-link"><span aria-hidden="true">&laquo;</span></a>
                        {% else %}
                            <a class="page-link disabled" style="pointer-events: none"><span aria-hidden="true">&laquo;</span></a>
                        {% endif %}
                        </li>
            
                        <li class="page-item">
                        <!-- 이전 페이지 -2 생성 -->
                        {% if page_obj.has_next == 0 %}
                            <a class="page-link" onclick="pageForm('{{page_obj.number|add:-2}}');">{{page_obj.number|add:-2}}</a>
                        {% endif %}
                        </li>
            
                        <!-- 페이지 리스트 -->
                        {% for page_number in page_obj.paginator.page_range %}
                        <li class="page-item">
                        {% if page_number >= page_obj.number|add:-1 and page_number <= page_obj.number|add:1 %}
                            {% if page_number == page_obj.number %}
                            <span class="page-link active" onclick="pageForm('{{page_number}}');">{{page_number}}</span>
                            {% else %}
                            <span class="page-link" onclick="pageForm('{{page_number}}');" data-page="{{page_number}}">{{page_number}}</span>
                            {% endif %}
                        {% endif %}
                        </li>
                        {% endfor %}
            
                        <li class="page-item">
                        <!-- 다음 페이지 +2 생성 -->
                        {% if page_obj.has_previous == 0 %}
                            <a class="page-link" onclick="pageForm('{{page_obj.number|add:2|safe}}');">{{page_obj.number|add:2}}</a>
                        {% endif %}
                        </li>
            
                        <li class="page-item">
                        <!-- 다음 페이지 -->
                        {% if page_obj.has_next %}
                            <a class="page-link" onclick="pageForm('{{page_obj.next_page_number}}');" id="prev-page-link"><span aria-hidden="true">&raquo;</span></a>
                        {% else %}
                            <a class="page-link disabled" style="pointer-events: none"><span aria-hidden="true">&raquo;</span></a>
                        {% endif %}
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8497490320648322"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-8497490320648322"
                data-ad-slot="8012781721"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            
            </div>
        </div>
        <div class="col-lg-3 mb-3 sidebar_main sidebar_background">
            <div class="sidebar_count">
                <div>영화 & IT 개인 블로그</span></div>
                <div>총 게시글 <span> : {{mywork_data.count|add:movie_data.count|add:physics_data.count|add:django_data.count|add:network_data.count}}개</span></div>
                <div>전체 방문자<span> : {{ view.count|intcomma }}명</span></div>
                <div>블로그 제작<span> : Django 3.11.4</span></div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8497490320648322"
                crossorigin="anonymous"></script>
                <!-- 디플 사각형 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-8497490320648322"
                    data-ad-slot="8603808661"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="sidebar_position">
              <div>
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 이야기 ({{mywork_data.count}})</a>
                <div class="sidebar_js">
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 현장이야기 ({{mywork_count_one}})</a>
                    <div class="sidebar_js">
                        {% for m in mywork_data %}
                        {% if m.content == '현장이야기' %}
                        <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 영화연출 ({{mywork_count_two}})</a>
                    <div class="sidebar_js">
                        {% for m in mywork_data %}
                        {% if m.content == '영화연출' %}
                        <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
      
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 감상 후기 ({{movie_data.count}})</a>
                <div class="sidebar_js" style="display: block;">
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 상업영화 ({{movie_count_one}})</a>
                    <div class="sidebar_js" style="display: block;">
                        {% for m in movie_data %}
                        {% if m.genre == '상업영화' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 드라마 ({{movie_count_two}})</a>
                    <div class="sidebar_js" style="display: block;">
                        {% for m in movie_data %}
                        {% if m.genre == '드라마' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; OTT 오리지널 ({{movie_count_three}})</a>
                    <div class="sidebar_js" style="display: block;">
                        {% for m in movie_data %}
                        {% if m.genre == 'OTT 오리지널' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
      
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 물리학 ({{physics_data.count}})</a>   
                <div class="sidebar_js">
                    {% for m in physics_data %}
                    <a href="{% url 'engineer:physics' m.id %}" class="sidebar_for">
                        &raquo; {{ m.subject}}
                    </a>
                    {% endfor %}
                </div>
      
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 프로그래밍 ({{django_data.count}})</a>
                <div class="sidebar_js">
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 튜토리얼 ({{django_count_one}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '튜토리얼' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 문법 ({{django_count_two}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '문법' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 템플릿 ({{django_count_three}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '템플릿' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
      
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 네트워크 ({{network_data.count}})</a>
                <div class="sidebar_js">
                    {% for m in network_data %}
                    <a href="{% url 'engineer:network' m.id %}" class="sidebar_for">
                        &raquo; {{ m.subject}}
                    </a>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
</div>
</div>
<form id="searchForm" method="get" action="{% url 'movie:main' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="tag" name="tag" value="{{ tag|default_if_none:'' }}">
</form>
{% endblock %}