{% extends 'base.html' %}
{% load static %}
{% load myprofile_filter %}
{% block content %}

<div class="container background_design" >
    <div class="container">
        <div class="mywork_name_name">Doyeon0430</div>
        <div class="mywork_name_content">어릴적부터 영화를 꿈꾸며 다양한 스토리를 창작하기 위해 물리학 이론과 공학계열 트렌드를 배우고 있어요. 나중에 제 시나리오로 영화를 제작하고 싶어요.</div>
        <div class="mywork_name_url">
          <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email_img.png' %}" alt="My Image"></a>
          <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram_img.png' %}" alt="My Image"></a>
          <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github_img.png' %}" alt="My Image"></a>
          <a href="{% url 'myprofile:main' %}"><img class="mywork_name_url_img" src="{% static 'img/home_img.png' %}" alt="My Image"></a>
        </div> 
    </div>
    <div class="home_intro">
        <div class="row text-center" style="border-top: 10px solid rgb(220, 218, 218);">
            <div class="col-4 bar_menu bar_click drag_prevent" OnClick="location.href ='{% url "myprofile:home" %}'">
                <div>글</div>
            </div>
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:tag" %}'">
                <div>태그</div>
            </div>
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:introduce" %}'">
                <div>소개</div>
        </div>
    </div>

    {% for item in reversed_movie_content %}
        {% if forloop.counter <= 3 %}
            <div class="row mywork_text py-2" OnClick="location.href='{% url 'movie:detail' item.movie.id %}'">
                <div class="col-12">
                    <div class="py-3">
                        {% if item.movie.photo %}
                        <img class="django_image" src="{{ item.movie.photo.url }}" alt="{{ item.movie.subject }} 이미지">
                        {% endif %}
                    </div>
                </div>
                <div class=" col-12">
                    <div class="mywork_col">
                        <div class="django_content">
                            {% if item.movie.content|length > 60 %}
                                "{{ item.movie.content|truncatechars:60 }}... 더보기"
                            {% else %}
                                "{{ item.movie.content }}"
                            {% endif %}
                        </div>
                        <div class="django_title ">
                            <a><{{ item.movie.subject }}> 감상 후기</a>
                        </div>
                        <div class="django_date">
                            <a>
                                {{ item.movie.genre }} | {{item.movie.create_date|date:"Y년 m월 d일"}}
                            </a>
                        </div>
                        <div class="detail_main pt-3">
                            <a href="{% url 'movie:main' %}" style="margin-right: 0.5rem;">#상업영화</a>
                            <a href="{% url 'movie:main' %}" style="margin-right: 0.5rem;">#드라마</a>
                            <a href="{% url 'movie:main' %}" style="margin-right: 0.5rem;">#OTT 오리지널</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for item in reversed_django_content %}
        {% if forloop.counter <= 3 %}
        {{forloop.counter}}
            <div class="row mywork_text py-2" OnClick="location.href ='{% url "engineer:django" item.django.id %}'">
                <div class="col-12">
                    <div class="py-3">
                        <img class="django_image" src="{% static 'img/django.webp' %}" alt="디장고 이미지">
                    </div>
                </div>
                <div class=" col-12 mb-2">
                    <div class="mywork_col">
                        <div class="django_title ">
                            <a>{{ item.django.subject }}</a>
                        </div>
                        <div class="django_content">
                            {% if item.django.content|length > 60 %}
                                {{ item.django.content|truncatechars:60 }}... 더보기
                            {% else %}
                                {{ item.django.content }} 
                            {% endif %}
                        </div>
                        <div class="django_date">
                            <a>
                                Python | {{item.django.create_date|date:"Y년 m월 d일"}}
                            </a>
                        </div>
                        <div class="detail_main pt-3">
                            <a href="{% url 'engineer:django_main' %}" style="margin-right: 0.5rem;">#Django</a>
                            <a href="{% url 'engineer:network_main' %}" style="margin-right: 0.5rem;">#Network</a>
                            <a href="{% url 'engineer:physics_main' %}" style="margin-right: 0.5rem;">#Physics</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}