{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Doyeon0430 블로그 정보</title>
<meta name="title" content="Doyeon0430 블로그 정보"/>
<meta name="description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="Doyeon0430 블로그 정보"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'myprofile:introduce' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/> 
<meta property="og:image" content="https://www.doyeon0430.com/media/mywork/logo.jpg"/>
{% endblock %}
{% block content %}

<div class="container background_design" >
    <div class="container">
        <div class="mywork_name_name">Doyeon0430</div>
        <div class="mywork_name_content">어릴적부터 영화를 꿈꾸며 다양한 스토리를 창작하기 위해 물리학 이론과 공학계열 트렌드를 배우고 있어요. </div>
        <div class="mywork_name_url">
          <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email.svg' %}" alt="My Image"></a>
          <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram.svg' %}" alt="My Image"></a>
          <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github.svg' %}" alt="My Image"></a>
          <a href="{% url 'myprofile:main' %}"><img class="mywork_name_url_img" src="{% static 'img/home.svg' %}" alt="My Image"></a>
        </div> 
    </div>
    <div class="home_intro">
        <div class="row text-center" style="border-top: 10px solid rgb(220, 218, 218);">
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:home" %}'">
                <div>최신글</div>
            </div>
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:tag" %}'">
                <div>태그</div>
            </div>
            <div class="col-4 bar_menu bar_click drag_prevent" OnClick="location.href ='{% url "myprofile:introduce" %}'">
                <div>소개</div>
            </div>
        </div>

    <div class="row  mywork_name_table">
        <div class="container mywork_name_table px-3 py-3">
          <div>블로그 정보</div>
          <ul class="mywork_name_ul">
            <li>언어 - 파이썬</li>
            <li>운영체제 - Ubuntu 20.04</li>
            <li>서버 - AWS Lightsail</li>
            <li>데이터베이스 - PostgreSQL</li>
          </ul>
          <div>블로그 방문자</div>
          <ul class="mywork_name_ul">
            <li>총 {{main_view.count}}명</li>
          </ul>
          <div>서버 비용</div>
          <ul class="mywork_name_ul">
            <li>$5 USD (1 Month)</li>
          </ul>
          <div>기타</div>
          <ul class="mywork_name_ul">
            <li>깃허브에 오픈소스 올려놨어요. <br>코드 필요하신 분들 마음껏 사용하세요.</li>
          </ul>
        </div>
    </div>
  </div>
</div>

{% endblock %}