{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Doyeon0430 자기 소개</title>
<meta name="title" content="Doyeon0430 자기 소개"/>
<meta name="description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="Doyeon0430 자기 소개"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'myprofile:main' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/> 
<meta property="og:image" content="https://www.doyeon0430.com/media/mywork/doyeon0430_logo.jpg"/>
{% endblock %}
{% block content %}


<div class="container background_design">
  <div class="container" >
      <div class="mywork_name_name">Doyeon0430</div>
      <div class="mywork_name_content">어릴적부터 영화를 꿈꾸며 다양한 스토리를 창작하기 위해 물리학 이론과 공학계열 트렌드를 배우고 있어요. </div>
      <div class="mywork_name_url">
        <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email.svg' %}" alt="My Image"></a>
        <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram.svg' %}" alt="My Image"></a>
        <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github.svg' %}" alt="My Image"></a>
        <a href="{% url 'myprofile:home' %}"><img class="mywork_name_url_img" src="{% static 'img/home.svg' %}" alt="My Image"></a>
      </div>
  </div>

  <div class="row  mywork_name_table" style="border-top: 10px solid rgb(220, 218, 218);">
      <div class="container mywork_name_table px-3 py-3">
        <div>전공</div>
        <ul class="mywork_name_ul">
          <li>서울영상고등학교 영상콘텐츠전공</li>
          <li>경기대학교 기계공학전공</li>
        </ul>
        <div>자전거 연습</div>
        <ul class="mywork_name_ul">
          <li>총 15회</li>
        </ul>
        <div class="row py-3 mywork_name_table">
          <img src="{% static 'img/home_art.png' %}" alt="My Image" class="home_art">
        </div>
      </div>
  </div>
</div>
{% endblock %}