{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Doyeon0430 블로그</title>
<meta name="description" content="영화 관련 이야기 및 감상 후기와 파이썬 프로그래밍 Django를 배우는 블로그입니다.">
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="Doyeon0430 블로그" /> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'myprofile:main' %}" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="영화 관련 이야기 및 감상 후기와 파이썬 프로그래밍 Django를 배우는 블로그입니다." /> 
<meta property="og:image" content="https://cdn.pixabay.com/photo/2014/02/02/17/40/photographs-256888_1280.jpg">
{% endblock %}
{% block content %}


<div class="container background_design">
  <div class="container" >
      <div class="mywork_name_name">Doyeon0430</div>
      <div class="mywork_name_content">어릴적부터 영화를 꿈꾸며 다양한 스토리를 창작하기 위해 물리학 이론과 공학계열 트렌드를 배우고 있어요. </div>
      <div class="mywork_name_url">
        <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email_img.png' %}" alt="My Image"></a>
        <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram_img.png' %}" alt="My Image"></a>
        <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github_img.png' %}" alt="My Image"></a>
        <a href="{% url 'myprofile:home' %}"><img class="mywork_name_url_img" src="{% static 'img/home_img.png' %}" alt="My Image"></a>
      </div> 
  </div>

  <div class="row  mywork_name_table" style="border-top: 10px solid rgb(220, 218, 218);">
      <div class="container mywork_name_table px-3 py-3">

        <div>전공</div>
        <ul class="mywork_name_ul">
          <li>서울영상고등학교 영상콘텐츠전공</li>
          <li>경기대학교 기계공학전공</li>
        </ul>
  
        <div>작품</div>
        <ul class="mywork_name_ul">
          <li>상업영화 1편 참여</li>
          <li>단편영화 2편 참여</li>
          <li>드라마 1편 참여중 (크랭크인 연기)</li>
          <li>시놉시스 제작중 (4개월째 진행)</li>
          <li>사진&영상 공모전 수상 3회</li>
        </ul>
        
      </div>
  </div>

    <div class="row py-3 mywork_name_table" style="border-top: 10px solid rgb(220, 218, 218);">
      <img src="{% static 'img/home_art.png' %}" alt="My Image" class="home_art">
      <div class="container py-2 mywork_name_content" style="border-bottom: 0px;">
        <div style="text-align: right; font-weight: 600; padding: 0rem 1rem;">"지식은 우리가 하늘을 나는 날개이다."<br>- 윌리엄 셰익스피어</div>
      </div>
    </div>
</div>
{% endblock %}