{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>Doyeon0430 블로그 태그</title>
<meta name="title" content="Doyeon0430 블로그 태그"/>
<meta name="description" content="영화 관련 이야기와 감상 후기를 남기고 프로그래밍을 공부하는 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="Doyeon0430 블로그 태그"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'myprofile:tag' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="영화 관련 이야기와 감상 후기를 남기고 프로그래밍을 공부하는 블로그입니다."/> 
<meta property="og:image" content="https://www.doyeon0430.com/media/mywork/doyeon0430_logo.jpg"/>
{% endblock %}
{% block content %}

<div class="container background_design">
    <div class="container">
        <div class="mywork_name_name">Doyeon0430</div>
        <div class="mywork_name_content">영화 관련 이야기와 감상 후기를 남기고 프로그래밍을 공부하는 블로그입니다.</div>
        <div class="mywork_name_url">
            <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email.svg' %}" alt="My Image"></a>
            <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram.svg' %}" alt="My Image"></a>
            <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github.svg' %}" alt="My Image"></a>
            <a href="{% url 'myprofile:main' %}"><img class="mywork_name_url_img" src="{% static 'img/home.svg' %}" alt="My Image"></a>
          </div>
    </div>
    <div>
        <div class="row text-center" style="border-top: 10px solid rgb(220, 218, 218);">
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:home" %}'">
                <div>최신글</div>
            </div>
            <div class="col-4 bar_menu bar_click drag_prevent" OnClick="location.href ='{% url "myprofile:tag" %}'">
                <div>태그</div>
            </div>
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:introduce" %}'">
                <div>소개</div>
            </div>
        </div>
        <div class="tag_main">
            <a href="{% url 'myprofile:home' %}">#전체글 ({{mywork_content.count|add:movie_content.count|add:physics_content.count|add:django_content.count|add:network_content.count}})</a>
            <a href="{% url 'mywork:main' %}">#영화 이야기 ({{mywork_content.count}})</a>
            <a href="{% url 'movie:main' %}">#영화 후기 ({{movie_content.count}})</a>
            <a href="{% url 'engineer:physics_main' %}">#물리학 ({{physics_content.count}})</a>
            <a href="{% url 'engineer:django_main' %}">#Django ({{django_content.count}})</a>
            <a href="{% url 'engineer:network_main' %}">#네트워크 ({{network_content.count}})</a>
        </div>
        
        <!-- 기존 내용 생략 -->
        <div class="tag_cap">대한민국 일별 박스오피스</div>
        <div id="tableContainer">
            <div id="loadingSpinner"></div>
        <table class="container tag_table" id="movieTable">
            <caption>제공 : 영화진흥위원회 API</caption>
            <caption style="text-align: left; caption-side: top; font-weight: bold;">[{{ yesterday_str }} 기준]</caption>
            <thead>
                <th>No</th>
                <th>영화 제목</th>
                <th>개봉일</th>
                <th>누적 관객수</th>
            </thead>
            <tbody id="movieTableBody">
                {% for i in numbers %}
                <tr>
                    <td style="font-weight: bold; width: 5%;" id="rank{{ i }}">{{ i }}</td>
                    <td style="text-align: left;" id="movieNm{{ i }}"></td>
                    <td id="openDt{{ i }}"></td>
                    <td id="audiAcc{{ i }}"></td>
                </tr>
                {% endfor %}
            </tbody>                     
        </table>
        </div>
    </div>
</div>

<script>
    const apiurl = '{{ key }}';
    const day = '{{ target_date }}';

    function showLoadingSpinner() {
        const loadingSpinner = document.getElementById('loadingSpinner');
        loadingSpinner.style.display = 'block';
    }

    function hideLoadingSpinner() {
        const loadingSpinner = document.getElementById('loadingSpinner');
        loadingSpinner.style.display = 'none';
    }

    function renderMovieList(movieList) {
    for (const [index, movie] of movieList.entries()) {
        const rankCell = document.getElementById(`rank${index + 1}`);
        const movieNmCell = document.getElementById(`movieNm${index + 1}`);
        const openDtCell = document.getElementById(`openDt${index + 1}`);
        const audiAccCell = document.getElementById(`audiAcc${index + 1}`);

        rankCell.innerText = movie.rank;
        movieNmCell.innerText = movie.movieNm;
        openDtCell.innerText = movie.openDt;
        audiAccCell.innerText = `${movie.audiAcc}명`;
    }
    }


    function fetchMovieData() {
        showLoadingSpinner(); // 로딩창 시작

        fetch(`https://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.xml?key=${apiurl}&targetDt=${day}`)
            .then(response => response.text())
            .then(data => {
                // XML 데이터를 파싱합니다.
                const parser = new DOMParser();
                const xmlDoc = parser.parseFromString(data, 'text/xml');
                const movies = xmlDoc.getElementsByTagName('dailyBoxOffice');

                // 영화 데이터를 담을 배열
                const movieList = [];

                // 영화 데이터를 반복하면서 배열에 데이터를 추가합니다.
                for (let i = 0; i < movies.length; i++) {
                    const movie = movies[i];
                    const rank = movie.querySelector('rank').textContent;
                    const movieNm = movie.querySelector('movieNm').textContent;
                    const openDt = movie.querySelector('openDt').textContent;
                    const audiAcc = parseInt(movie.getElementsByTagName('audiAcc')[0].textContent).toLocaleString();

                    movieList.push({ rank, movieNm, openDt, audiAcc });
                }
                renderMovieList(movieList);
                localStorage.setItem('box_office_data', JSON.stringify({ 'movie_list': movieList }));
            })
            .catch(error => {
                console.error('영화 데이터를 가져오는 중 에러 발생:', error);
            })
            .finally(() => {
                hideLoadingSpinner(); // 로딩창 끝
            });
    }

    window.onload = function () {
        fetchMovieData();
    };
</script>


        
{% endblock %}