{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Doyeon0430 블로그 태그</title>
<meta name="title" content="Doyeon0430 블로그 태그"/>
<meta name="description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="Doyeon0430 블로그 태그"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'myprofile:tag' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다."/> 
<meta property="og:image" content="https://www.doyeon0430.com/media/mywork/doyeon0430_logo.jpg"/>
{% endblock %}
{% block content %}

<div class="container background_design">
    <div class="container">
        <div class="mywork_name_name">Doyeon0430</div>
        <div class="mywork_name_content">어릴적부터 영화를 꿈꾸며 다양한 스토리를 창작하기 위해 물리학 이론과 공학계열 트렌드를 배우고 있어요. </div>
        <div class="mywork_name_url">
            <a href="mailto:kim73916@naver.com"><img class="mywork_name_url_img" src="{% static 'img/email.svg' %}" alt="My Image"></a>
            <a href="https://www.instagram.com/doyeon0430/"><img class="mywork_name_url_img"  src="{% static 'img/instagram.svg' %}" alt="My Image"></a>
            <a href="https://github.com/DoYeon0430"><img class="mywork_name_url_img" src="{% static 'img/github.svg' %}" alt="My Image"></a>
            <a href="{% url 'myprofile:main' %}"><img class="mywork_name_url_img" src="{% static 'img/home.svg' %}" alt="My Image"></a>
          </div>
    </div>
    <div class="home_intro">
        <div class="row text-center" style="border-top: 10px solid rgb(220, 218, 218);">
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:home" %}'">
                <div>최신글</div>
            </div>
            <div class="col-4 bar_menu bar_click drag_prevent" OnClick="location.href ='{% url "myprofile:tag" %}'">
                <div>태그</div>
            </div>
            <div class="col-4 bar_menu drag_prevent" OnClick="location.href ='{% url "myprofile:introduce" %}'">
                <div>소개</div>
            </div>
        </div>
        <div>
            <div>
                <div class="tag_main">
                    <a href="{% url 'myprofile:home' %}">#전체글 ({{mywork_content.count|add:movie_content.count|add:physics_content.count|add:django_content.count|add:network_content.count}})</a>
                    <a href="{% url 'mywork:main' %}">#영화 이야기 ({{mywork_content.count}})</a>
                    <a href="{% url 'movie:main' %}">#영화 후기 ({{movie_content.count}})</a>
                    <a href="{% url 'engineer:physics_main' %}">#물리학 ({{physics_content.count}})</a>
                    <a href="{% url 'engineer:django_main' %}">#Django ({{django_content.count}})</a>
                    <a href="{% url 'engineer:network_main' %}">#네트워크 ({{network_content.count}})</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}