.bar_menu{
    border-bottom: 4px solid rgb(222, 217, 217);
    padding: 0.6rem 0px 0.6rem 0px;
    cursor:pointer;
}

.bar_click{
    border-bottom: 4px solid #293F48;
    color: #293F48;
    font-weight:bolder;
}

.textimg{
    background-color: #faf8f8;
    cursor:pointer
}

.cols{
    margin-bottom: 1.5rem;
}

.textsubject{
    text-align: left;
    padding: 0.5rem 1rem 0 1rem;
    font-size: 1.1rem;
}

.text_content{
    padding: 0.5rem 0 2rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.text_bottom{
    border-top: 2px solid rgb(191, 181, 181);
    padding: 0.7rem 0.5rem;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    color: #911712;
}

.text_bottom a{
    font-size: 1rem;
}

.text_bottom span{
    color: #1f4975;
    font-size: 1rem;
}

.cols:hover {
    scale: 0.9;
}

@media (min-width: 1400px) {
    .engineer_image {
        height: 17rem;
        width: 100%;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1.2rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 13rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0.5rem 0rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .django_content{
        font-size: 1rem;
        padding-top: 1.5rem;
        color: gray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .django_date{
        font-size: 1rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

    /* detail홈페이지 CSS */
    .detail_sup{
        font-size: 1rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 1rem;
        padding: 1rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0rem 0rem 0rem 2rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.4rem;
        padding: 0.7rem 0rem;
        margin-right: 3rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 1rem;
    }

    .detail_url_img{
        width: 40px;
        height: 40px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}

@media (min-width: 1200px) and (max-width: 1399.98px){
    .engineer_image {
        height: 17rem;
        width: 100%;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1.2rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 11rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0.5rem 0rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .django_content{
        font-size: 1rem;
        padding-top: 1.5rem;
        color: gray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .django_date{
        font-size: 1rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

     /* detail홈페이지 CSS */
    .detail_sup{
        font-size: 1rem;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 1rem;
        padding: 1rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0rem 0rem 0rem 2rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.4rem;
        padding: 0.7rem 0rem;
        margin-right: 3rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 1rem;
    }

    .detail_url_img{
        width: 40px;
        height: 40px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .engineer_image {
        height: 14rem;
        width: 100%;
        font-weight: bold;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1.2rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 9rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0.5rem 0rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .django_content{
        font-size: 1rem;
        padding-top: 1rem;
        color: gray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .django_date{
        font-size: 1rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

     /* detail홈페이지 CSS */
    .detail_sup{
        font-size: 0.9rem;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 0.9rem;
        padding: 0.8rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0rem 0rem 0rem 1.5rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.4rem;
        padding: 0.7rem 0rem;
        margin-right: 3rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 1rem;
    }

    .detail_url_img{
        width: 40px;
        height: 40px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .engineer_image {
        height: 28rem;
        width: 100%;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1.2rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 9rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0rem 0rem;
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0.1rem 0;
    }
    
    .django_content{
        font-size: 0.9rem;
        padding-top: 0.5rem;
        color: gray;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .django_date{
        font-size: 0.9rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

     /* detail홈페이지 CSS */
     .detail_sup{
        font-size: 0.9rem;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 0.9rem;
        padding: 0.8rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0.5rem 0rem 0rem 1rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
        font-size: 0.9rem;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.4rem;
        padding: 0.5rem 0rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 1rem;
    }

    .detail_url_img{
        width: 35px;
        height: 35px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .engineer_image {
        height: 21rem;
        width: 100%;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1.1rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 6rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0rem 0rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0.1rem 0;
    }
    
    .django_content{
        font-size: 0.8rem;
        padding-top: 0.5rem;
        color: gray;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_content {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .django_date{
        font-size: 0.8rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

     /* detail홈페이지 CSS */
    .detail_sup{
        font-size: 0.9rem;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 0.9rem;
        padding: 0.8rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0.5rem 0rem 0rem 2rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: 1px solid gray;
        font-size: 0.9rem;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.4rem;
        padding: 0.3rem 0rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 0.5rem;
    }

    .detail_url_img{
        width: 35px;
        height: 35px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}

@media (max-width: 575.98px) {
    .engineer_image {
        height: 16rem;
        width: 100%;
    }

    .bar_menu div{
        font-weight: 700;
        font-size: 1rem;
    }

    /* main홈페이지 CSS */
    .django_image{
        width: 100%;
        height: 5rem;
    }
    
    .django_col{
        padding: 1rem 0.5rem;
    }

    .django_title{
        padding: 0rem 0rem;
        font-size: 1.1rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .two_title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0.1rem 0;
    }
    
    .django_content{
        display: none;
    }

    .django_date{
        font-size: 0.8rem;
        color: gray;
    }
     /* main홈페이지 CSS 끝 */

     /* detail홈페이지 CSS */
     .detail_sup{
        font-size: 0.9rem;
        padding-left: 0rem;
        padding-bottom: 0.5rem;
        margin:0;
        color: rgb(218, 180, 180);
        font-weight: 600;
    }
    .detail_subject{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0rem;
    }

    .detail_date{
        color: #8c8c8c;
        font-size: 0.9rem;
        padding: 0.8rem 0;
        font-weight: 600;
    }

    .detail_main{
        padding: 0.5rem 0rem 0rem 1rem;
    }

    .detail_main a{
        text-decoration: none;
        color: green;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
        border: 1px solid gray;
    }

    .detail_img{
        text-align: center;
        padding-bottom: 1rem;
        width: 100%;
        height: auto;
    }

    .detail_border{
        text-align: right;
        font-size: 1.2rem;
        padding: 0.3rem 0.1rem;
    }

    .detail_border a{
        color: black;
        text-decoration: none;
        display: inline-block;
        padding-top: 0.3rem;
    }

    .detail_url{
        padding: 1.5rem 0rem;
        text-align: left;
    }

    .detail_url a{
        padding-left: 0.4rem;
    }

    .detail_url_img{
        width: 30px;
        height: 30px;
    }
    /* detail홈페이지 CSS 끝 */

    /* 댓글 CSS */
    .chat_subejct{
        font-size: 1.1rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid black;
    }
    
    .chat_sub_content{
        padding-left: 1rem;
    }

    .chat_sub_content span{
        display: block;
        padding-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .chat_sub_content div{
        font-size: 1rem;
    }

    .chat_sub_content p{
        font-size: 0.8rem;
        color: gray;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid gray;
    }

    .chat_content{
        padding-bottom: 1rem;
    }
    /* 댓글 CSS 끝*/
}