body {
    margin: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-family: 'Noto Sans KR', sans-serif;
}

.home_intro {
  border-bottom: 1px solid rgb(203, 199, 199);
}

.home_li {
  color: black;
}

.home_li:hover {
  font-weight: 600;
  font-style: italic;
  color: #FF689F;
}

.draggable {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.draggable_off{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.nav-links li a:hover{
  color: #b4b3b3;
}

.dropdown_main div:hover{
  translate: 0.5rem;
  cursor: pointer;
}

@media (min-width: 1400px)  {
  .home_art {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    background-color: #181717;
    position: relative;
  }
  
  .logo {
    padding: 1.2rem 0px;
    text-align: center;
  }
  .logo a img {
    width: 220px; 
    height: auto;
    margin-top: 2px;
  }

  .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav_text{
    display: none;
  }

  .nav-links li {
    display: block;
  }

  .navbar ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav-links a {
    font-weight: 600;
    text-decoration: none;
    color: #E1DCEA;
    font-size: 1.2rem;
    margin: 0 50px;
    padding: 3px 3rem;
  }
  
  /* dropdown css  */
  .dropdown_main{
    margin: 0;
    padding: 0rem 1rem 1rem 1rem;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #3c3b3b;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: 2.8rem;
    right: 6.5rem;
    width: 8rem;
    border: 1px solid gray;
  }
  
  .dropdown_main a{
    padding: 0.3rem 0 0.3rem 0;
    margin: 0;
    display: inline-flex;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
  }
  /* dropdown css  끝*/

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .home_art {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    background-color: #181717;
    position: relative;
  }
  .logo {
    padding: 0.9rem 0px;
    text-align: center;
  }
  .logo a img {
    width: 210px; 
    height: auto;
    margin-top: 2px;
  }
  .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav_text{
    display: none;
  }
    
  .nav-links li {
    display: block;
  }

  .navbar ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .nav-links a {
    font-weight: 600;
    text-decoration: none;
    color: #E1DCEA;
    font-size: 1.2rem;
    margin: 0 50px;
    margin-right: 3.5rem;
    padding: 3px 3px;
  }

    /* dropdown css  */
    .dropdown_main{
      margin: 0;
      padding: 0rem 1rem 1.5rem 1rem;
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #3c3b3b;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      top: 2.6rem;
      right: 4rem;
      width: 8rem;
      border: 1px solid gray;
    }
    
    .dropdown_main a{
      padding: 0.3rem 0 0.3rem 0;
      margin: 0;
      display: inline-flex;
      color: #ffffff;
      font-weight: 500;
      font-size: 1rem;
      text-align: left;
    }
    /* dropdown css  끝*/

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
    
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home_art {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    background-color: #181717;
    position: relative;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .nav-links li {
    display: block;
  }

  .navbar ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav_text{
    display: none;
  }

  .nav-links a {
    font-weight: 600;
    text-decoration: none;
    color: #E1DCEA;
    font-size: 1.1rem;
    margin: 0 20px;
    padding: 3px 1.5rem;
  }

  .logo {
    padding: 0.8rem 0px;
    text-align: center;
  }

  .logo a img {
    width: 180px; 
    height: auto;
    margin-top: 2px;
  }

  /* dropdown css  */
  .dropdown_main{
    margin: 0;
    padding: 0rem 1rem 1.5rem 1rem;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #3c3b3b;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: 2.3rem;
    right: 2.8rem;
    width: 8rem;
    border: 1px solid gray;
  }
  
  .dropdown_main a{
    padding: 0.3rem 0 0.3rem 0;
    margin: 0;
    display: inline-flex;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
  }
  /* dropdown css  끝*/

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
}


@media (max-width: 991.98px) {
  .home_art {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar{
    display: none;
  }
  
  .logo {
    padding: 0.9rem 1rem;
    text-align: left;;
  }

  .logo a img {
    width: 160px; 
    height: auto;
    margin-top: 2px;
  }

  .navbar-burger {
    position: fixed;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 66px;
    height: 66px;
    background-image: url('/static/img/go.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 250px;
    height: 100%;
    background: #040109;
    translate: 100% 0;
    transform: translateX(100%);
    transition:
      translate 0.375s
      cubic-bezier(
        0.175,
        0.885,
        0.32,
        1
      );
  }
  .menu nav {opacity: 0;}
  .menu nav:hover .bar_one {
    opacity: 0.25;
  }
  .menu .dropdown-content:hover .bar_two {
    opacity: 0.25;
  }
  .menu nav .bar_one:hover  {
    opacity: 1;
  }
  .menu .dropdown-content .bar_two:hover {
    opacity: 1;
  }
  .menu .bar_one:hover ~.dropdown-content {
    opacity: 0.25;
  }
  .menu .bar_one:hover +.dropdown-content {
    opacity: 1;
  }


  
  
  .menu nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 1.3rem;
    padding: 20px 0;
    width: 200px;
    text-decoration: none;
  }
  
  .menu span {
    position: absolute;
    color: #4c4a4a;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: 700;
  }
  .menu a,
  .menu a::before,
  .menu a::after{
    transition: 0.4s;
  }
  .menu a::before,
  .menu a::after{
    content: "";
    position: absolute;
    right: 0;
    border: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }
  .menu a::before{
    opacity: 0;
    background: rgb(255, 255, 255 / 20%);
  }
  .menu a::after{
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background:#f7f7f7;
  }
  .menu a:hover::before{
    opacity: 1;
  }
  .menu a:hover::after{
    transform: scaleX(1);
  }

  .logo-container {
    z-index: 5;
    position: sticky;
    top: 0;
    height: auto; /* 적절한 높이 설정 */
    background-color: #F2F2F2; 
    border-bottom: 3px solid black;
  }
  
  body.open .menu{
    z-index: 10;
    opacity: 0.9;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }

  body.open .menu nav { opacity: 1;}

  body.open .navbar-burger {
    z-index: 11;
    background-image: url('/static/img/back.png');
  }

  body.open .menu a {
    animation: appear 0.25s backwards;
  }

  .dropdown-content {
      position: relative;
      display: none;
      min-width: 140px;
      z-index: 15;
      padding: 0 0.5rem;
  }

  .dropdown-content a {
      color: #f9f9f9;
      padding: 6px 16px;
      text-decoration: none;
      display: flex;
      width: 162px;
      padding-left: 0;
      font-size: 1.1rem;
  }

  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 100% 50%); /* 왼쪽으로 이동하도록 수정 */
    }
    100% {
      clip-path: ellipse(120% 120% at 100% 50%); /* 왼쪽으로 이동하도록 수정 */
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0; translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }

}