body {
    margin: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-family: 'Noto Sans KR', sans-serif;
}

.background_design {
  background-color: #F2F2F2; 
  box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.1), inset 0px -5px 10px rgba(10, 10, 10, 0.1);
  border: 3px solid rgb(216, 216, 216);
}

.home_intro {
  border-bottom: 1px solid rgb(203, 199, 199);
}

.home_li {
  color: black;
}

.home_li:hover {
  font-weight: 600;
  font-style: italic;
  color: #FF689F;
}

.draggable {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.draggable_off{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.nav-links li a:hover{
  color: #b4b3b3;
}

.dropdown_main div:hover{
  cursor: pointer;
}

.form_select, .form_select option{
  font-weight: 500;
}

.form_select:active,
.form_select:focus {
    border-color: #ced4da;
    box-shadow: none;
}


@media (min-width: 1400px)  {
  /* navbar css */
  .nav_main {
    font-weight: 900;
    font-size: 1.1rem; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;  
    padding-right: 3rem; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1;
  }

  .nav_item {
    position: relative;
    flex: 0 0 auto;
    margin-right: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  .nav_item > a {
    color: floralwhite;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .nav_item > a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    width: 0;
    height: 2px;
    background-color: floralwhite;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }
  
  .nav_item:hover > a:after {
    width: 100%;
  }
  
  /* navbar css end*/

  .home_art {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo {
    display: none;
  }
  
  .dropdown_main {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #fffafa;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 3.9rem;
    right: 0rem;
    width: 11rem;
    border: 1px solid rgb(99, 96, 96);
    box-shadow: 0 40px 40px rgb(0 0 0 /6%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s;
  }
  
  .dropdown_king:hover .dropdown_main {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown_main div:hover {
    background-color: #c9cac9;
  }
  
  .dropdown_main div a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    display: inline-flex;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
  }

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* navbar css */
  .nav_main {
    font-weight: 900;
    font-size: 1.1rem; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;  
    padding-right: 3rem; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1;
  }

  .nav_item {
    position: relative;
    flex: 0 0 auto;
    margin-right: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  .nav_item > a {
    color: floralwhite;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .nav_item > a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    width: 0;
    height: 2px;
    background-color: floralwhite;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }
  
  .nav_item:hover > a:after {
    width: 100%;
  }  
  
  /* navbar css end*/

  .home_art {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo {
    display: none;
  }
  
  .dropdown_main {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #fffafa;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 4.4rem;
    right: 0rem;
    width: 11rem;
    border: 1px solid rgb(99, 96, 96);
    box-shadow: 0 40px 40px rgb(0 0 0 /6%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s;
  }
  
  .dropdown_king:hover .dropdown_main {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown_main div:hover {
    background-color: #c9cac9;
  }
  
  .dropdown_main div a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    display: inline-flex;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
  }
  /* dropdown css  끝*/

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* navbar css */
  .nav_main {
    font-weight: 900;
    font-size: 1.1rem; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;  
    padding-right: 3rem; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1;
  }

  .nav_item {
    position: relative;
    flex: 0 0 auto;
    margin-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  
  .nav_item > a {
    color: floralwhite;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .nav_item > a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -2px;
    width: 0;
    height: 2px;
    background-color: floralwhite;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }
  
  .nav_item:hover > a:after {
    width: 100%;
  }  
  
  /* navbar css end*/

  .home_art {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo {
    display: none;
  }
  
  .dropdown_main {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #fffafa;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 4.4rem;
    right: 0rem;
    width: 11rem;
    border: 1px solid rgb(99, 96, 96);
    box-shadow: 0 40px 40px rgb(0 0 0 /6%);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: transform 0.3s;
  }
  
  .dropdown_king:hover .dropdown_main {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown_main div:hover {
    background-color: #c9cac9;
  }
  
  .dropdown_main div a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    display: inline-flex;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
  }
  /* dropdown css  끝*/

  .navbar-burger{
    display: none;
  }
  .menu{
    display: none;
  }
}

@media (max-width: 991.98px) {
  .home_art {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_main {
    display: none;
  }

  .background_design {
    border: 0px solid rgb(189, 189, 189);
  }
  
  .logo {
    padding: 0.9rem 1rem;
    text-align: left;;
  }

  .logo a img {
    width: 160px; 
    height: auto;
    margin-top: 2px;
  }

  .navbar-burger {
    position: fixed;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 66px;
    height: 66px;
    background-image: url('/static/img/go.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 250px;
    height: 100%;
    background: #040109;
    translate: 100% 0;
    transform: translateX(100%);
    transition:
      translate 0.375s
      cubic-bezier(
        0.175,
        0.885,
        0.32,
        1
      );
  }
  .menu nav {opacity: 0;}
  .menu nav:hover .bar_one {
    opacity: 0.25;
  }
  .menu .dropdown-content:hover .bar_two {
    opacity: 0.25;
  }
  .menu nav .bar_one:hover  {
    opacity: 1;
  }
  .menu .dropdown-content .bar_two:hover {
    opacity: 1;
  }
  .menu .bar_one:hover ~.dropdown-content {
    opacity: 0.25;
  }
  .menu .bar_one:hover +.dropdown-content {
    opacity: 1;
  }


  
  
  .menu nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 1.3rem;
    padding: 20px 0;
    width: 200px;
    text-decoration: none;
  }
  
  .menu span {
    position: absolute;
    color: #4c4a4a;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: 700;
  }
  .menu a,
  .menu a::before,
  .menu a::after{
    transition: 0.4s;
  }
  .menu a::before,
  .menu a::after{
    content: "";
    position: absolute;
    right: 0;
    border: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
  }
  .menu a::before{
    opacity: 0;
    background: rgb(255, 255, 255 / 20%);
  }
  .menu a::after{
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background:#f7f7f7;
  }
  .menu a:hover::before{
    opacity: 1;
  }
  .menu a:hover::after{
    transform: scaleX(1);
  }

  .logo-container {
    z-index: 5;
    position: sticky;
    top: 0;
    height: auto; /* 적절한 높이 설정 */
    background-color: #F2F2F2; 
    border-bottom: 3px solid black;
  }
  
  body.open .menu{
    z-index: 10;
    opacity: 0.9;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }

  body.open .menu nav { opacity: 1;}

  body.open .navbar-burger {
    z-index: 11;
    background-image: url('/static/img/back.png');
  }

  body.open .menu a {
    animation: appear 0.25s backwards;
  }

  .dropdown-content {
      position: relative;
      display: none;
      min-width: 140px;
      z-index: 15;
      padding: 0 0.5rem;
  }

  .dropdown-content a {
      color: #f9f9f9;
      padding: 6px 16px;
      text-decoration: none;
      display: flex;
      width: 162px;
      padding-left: 0;
      font-size: 1.1rem;
  }

  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 100% 50%); /* 왼쪽으로 이동하도록 수정 */
    }
    100% {
      clip-path: ellipse(120% 120% at 100% 50%); /* 왼쪽으로 이동하도록 수정 */
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0; translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }

}