.movie_text {
  overflow: hidden;
  pointer-events: none;
  width: 50rem;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  resize: none; /* optional: prevents the user from resizing the textarea */
  padding: 10px;
  font-size: 16px;
}

.movie_text_div {
  height: 100%;
}

.movie_col {
  display: grid;
  align-items: center;
  height: auto; /* 부모 요소의 높이를 지정해야 합니다. */
}

.movie_image {
  margin: auto; /* 수평 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}

@media (min-width: 1400px) {
  /* page 버튼 */
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
  /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 5rem 0.5rem 0px 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 1.4rem;
    padding: 0.7rem 2.1rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px)  {
   /* page 버튼 */ 
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
  /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 5rem 0.5rem 0px 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 1.4rem;
    padding: 0.7rem 2.1rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   /* page 버튼 */ 
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
  /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 2.5rem 0px 0px 2rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 1.3rem;
    padding: 0.6rem 1.8rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   /* page 버튼 */ 
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
  /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 0px 0px 0px 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 1.1rem;
    padding: 0.4rem 1.2rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   /* page 버튼 */ 
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
  /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 0px 0px 0px 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}

@media (max-width: 575.98px) {
   /* page 버튼 */ 
  .pagination{
    padding: 2rem 0px 0rem 0px;
  }

  .page-link{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1rem;
  }
  
  .page-link.active {
    background-color: rgb(0, 0, 0);
    border-color: black;
  }
    /* page 버튼 끝*/

  .movie_button{
    text-align: right;
    padding: 0px 0px 0px 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .movie_button a{
    font-size: 0.8rem;
    padding: 0.3rem 1.3rem;
    background-color: rgb(52, 44, 46);
    border: 1px solid rgb(52, 44, 46);
  }
}