.hobby_movie_img{
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    border: 2px solid rgb(158, 158, 158);
}

@media (min-width: 1499px)  {
    .myprofile_home {
        font-size: large;
        color: #E0EBED;
        font-weight: 600;
        text-decoration: none;
        background-color: #92B3B7;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        transition: all 0.3s ease;
        border-radius: 20px;
    }
      
      .myprofile_home:hover {
        background-color: rgb(169, 115, 45);
        transform: translateY(-2px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

      .myprofile_home_sub{
        padding-top: 1rem;
        text-align: center;
        font-size: large; 
        font-weight: 600;
    }

    .myprofile_img_text {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-weight: 700;
    }

    .myprofile_form_div{
        padding: 1rem 0rem 0rem 0.5rem;
    }

    .myprofile_form_a{
        margin: 0px 0.5rem;
        text-decoration: none;
        color: rgb(66, 67, 145);
        font-weight: 600;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        font-size: 1rem;
        border: 1px solid gray;
    }
}

@media (min-width: 999px) and (max-width: 1500px) {
    .myprofile_home {
        font-size: large;
        color: #E0EBED;
        font-weight: 600;
        text-decoration: none;
        background-color: #92B3B7;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        transition: all 0.3s ease;
        border-radius: 20px;
    }
      
      .myprofile_home:hover {
        background-color: rgb(169, 115, 45);
        transform: translateY(-2px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

      .myprofile_home_sub{
        padding-top: 1rem;
        text-align: center;
        font-size: large; 
        font-weight: 600;
    }

    .myprofile_img_text {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-weight: 700;
    }

    .myprofile_form_div{
        padding: 1rem 0rem 0rem 0.5rem;
    }

    .myprofile_form_a{
        margin: 0px 0.5rem;
        text-decoration: none;
        color: rgb(66, 67, 145);
        font-weight: 600;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        font-size: 1rem;
        border: 1px solid gray;
    }
}


@media (min-width: 574px) and (max-width: 1000px) {
    .myprofile_home {
        font-size: large;
        color: #E0EBED;
        font-weight: 600;
        text-decoration: none;
        background-color: #92B3B7;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        transition: all 0.3s ease;
        border-radius: 20px;
    }
      
      .myprofile_home:hover {
        background-color: rgb(169, 115, 45);
        transform: translateY(-2px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

      .myprofile_home_sub{
        padding-top: 1rem;
        text-align: center;
        font-size: large; 
        font-weight: 600;
    }

    .myprofile_img_text {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-weight: 700;
    }

    .myprofile_form_div{
        padding: 0.5rem 0rem 0rem 1rem;
    }

    .myprofile_form_a{
        text-decoration: none;
        color: rgb(66, 67, 145);
        font-weight: 600;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
        border: 1px solid gray;
    }
}


@media  (max-width: 575px) {

    .myprofile_home {
        font-size: large;
        color: #E0EBED;
        font-weight: 600;;
        text-decoration: none;
        background-color: #92B3B7;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        transition: all 0.3s ease;
        border-radius: 10px;
    }
      
      .myprofile_home:hover {
        background-color: rgb(169, 115, 45);
        transform: translateY(-2px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }
      
    .myprofile_home_sub{
        padding-top: 1rem;
        text-align: center;
        font-size: large; 
        font-weight: 600;
    }

    .myprofile_img_text {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        text-align: center;
        font-weight: 700;
    }

    .myprofile_form_div{
        padding: 0.5rem 0rem 0rem 1rem;
    }

    .myprofile_form_a{
        text-decoration: none;
        color: rgb(66, 67, 145);
        font-weight: 600;
        border-radius: 5px;
        padding: 0.3rem 0.8rem;
        font-size: 0.8rem;
        border: 1px solid gray;
    }
}