.sidebar_main{
    position: relative;  
    box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.1), inset 0px -5px 10px rgba(10, 10, 10, 0.1); 
    border-left: 1px solid rgb(212, 200, 200);
    padding-bottom: 3rem;
}

.sidebar_tag{
    display: block;
    color: rgb(70, 67, 67);
    padding-top: 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
    margin: 0rem 2.5rem;
    padding-bottom: 0.3rem;
    text-align: center;
    font-weight: bold;
}


.sidebar_tag:first-child {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 0px;
    margin: 0px;
    font-weight: 600;
    color: indianred;
    text-align: left;
}

.sidebar_for{
    display: block;
    color: rgb(70, 67, 67);
    padding-top: 0.8rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.sidebar_for:hover {
    font-style: italic;
    text-decoration:underline;
    font-weight: 600;
}

.bar_check{
    color: goldenrod; 
    font-weight: 600;
}

@media (max-width: 992px) {
    .sidebar_main{
        display: none;
    }
}