{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>물리학 및 프로그래밍 블로그</title>
<meta name="description" content="물리학 이론과 프로그래밍 및 네트워크를 올리는 블로그입니다.">
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="물리학 및 프로그래밍 블로그" /> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'engineer:main' %}" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="물리학 이론과 프로그래밍 및 네트워크를 올리는 블로그입니다." /> 
<meta property="og:image" content="https://doyeon0430.com/media/django/django_Uny83Z3.webp">
{% endblock %}
{% block content %}

<div class="container background_design" >
    <div class="pt-1 pb-3">
        <div class="row text-center">
            <div class="col-3 bar_menu bar_click" OnClick="location.href ='{% url "engineer:main" %}'">
                <div>TOTAL</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                <div>PHYSICS</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:django_main" %}'">
                <div>DJANGO</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:network_main" %}'">
                <div>NETWORK</div>
            </div>
        </div>

        <div class="row pt-1">
            <div class="col-lg-4 text-center cols" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                <div class="mt-3 textimg">
                    <img class="engineer_image" src="{% static 'img/physicsimg.jpg' %}" alt="물리학 이미지">
                    <div  class="textsubject">
                        <div>
                            Physics Mechanics
                        </div>
                        <div class="text_content">아직은 1학년이라 대학교 전공이 안들어갔어요. 업로드는 2학년때부터 배우면 하겠습니다.</div>
                        <div class="text_bottom">                             
                            <span>총 게시글 {{physics.count}}</span>
                            <a>자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-center cols" OnClick="location.href ='{% url "engineer:django_main" %}'">
                <div class="mt-3 textimg">
                    <img class="engineer_image" src="{% static 'img/django.webp' %}" alt="디장고 이미지">
                    <div class="textsubject">
                        <div>
                            Django 4.2.1 Framework
                        </div>
                        <div class="text_content">파이썬으로 만들어진 웹 프레임워크에요. Django는 취미로 사용해서 공부한거 정리해봤어요.</div>
                        <div class="text_bottom">
                            <span>총 게시글 {{django.count}}</span>
                            <a>자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-center cols" OnClick="location.href ='{% url "engineer:network_main" %}'">
                <div class="mt-3 textimg">
                    <img class="engineer_image" src="{% static 'img/network.jpg' %}" alt="네트워크 이미지">
                    <div class="textsubject">
                        <div>
                            Network
                        </div>
                        <div class="text_content">네트워크 이론은 군복무 때 필요해서 공부했는데 웹 서버 제작에 도움 돼서 틈틈이 보고있어요.</div>
                        <div class="text_bottom">                            
                            <span>총 게시글 {{network.count}}</span>
                            <a>자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}