{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
<title>물리학 및 프로그래밍 블로그</title>
<meta name="description" content="물리학 이론과 프로그래밍 및 네트워크를 올리는 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="물리학 및 프로그래밍 블로그"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'engineer:main' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="물리학 이론과 프로그래밍 및 네트워크를 올리는 블로그입니다."/> 
<meta property="og:image" content="https://doyeon0430.com/media/django/django_Uny83Z3.webp"/>
{% endblock %}
{% block content %}

<div class="container background_design" >
        <div class="row">
            <div class="container col-lg-9 pt-3 pb-3 draggable">
                <div class="row pt-1 justify-content-start">
                    <div class="col-lg-6 text-center cols" OnClick="location.href ='{% url "myprofile:main" %}'">
                        <div class="mt-3 textimg">
                            <img class="engineer_image" src="{% static 'img/doyeon0430_logo.jpg' %}" alt="네트워크 이미지">
                            <div class="textsubject">
                                <div>
                                    Doyeon0430 Blog
                                </div>
                                <div class="text_content">영화 관련 이야기와 감상 후기를 남기고 파이썬을 공부하는 Doyeon0430 블로그입니다.</div>
                                <div class="text_bottom">                            
                                    <span>블로그 게시글 : {{mywork_data.count|add:movie_data.count|add:physics_data.count|add:django_data.count|add:network_data.count}}개</span>
                                    <a>자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center cols" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                        <div class="mt-3 textimg">
                            <img class="engineer_image" src="{% static 'img/physicsimg.jpg' %}" alt="물리학 이미지">
                            <div  class="textsubject">
                                <div>
                                    Physics Mechanics
                                </div>
                                <div class="text_content">아직은 1학년이라 대학교 전공이 안들어갔어요. 업로드는 2학년때부터 배우면 하겠습니다.</div>
                                <div class="text_bottom">                             
                                    <span>총 게시글 : {{physics_data.count}}개</span>
                                    <a>자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center cols" OnClick="location.href ='{% url "engineer:django_main" %}'">
                        <div class="mt-3 textimg">
                            <img class="engineer_image" src="{% static 'img/django.webp' %}" alt="디장고 이미지">
                            <div class="textsubject">
                                <div>
                                    Django 4.2.1 Framework
                                </div>
                                <div class="text_content">파이썬으로 만들어진 웹 프레임워크에요. Django는 취미로 사용해서 공부한거 정리해봤어요.</div>
                                <div class="text_bottom">
                                    <span>총 게시글 : {{django_data.count}}개</span>
                                    <a>자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center cols" OnClick="location.href ='{% url "engineer:network_main" %}'">
                        <div class="mt-3 textimg">
                            <img class="engineer_image" src="{% static 'img/network.jpg' %}" alt="네트워크 이미지">
                            <div class="textsubject">
                                <div>
                                    Network
                                </div>
                                <div class="text_content">네트워크 이론은 군복무 때 필요해서 공부했는데 웹 서버 제작에 도움 돼서 틈틈이 보고있어요.</div>
                                <div class="text_bottom">                            
                                    <span>총 게시글 : {{network_data.count}}개</span>
                                    <a>자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sidebar_main sidebar_background">
                <div class="sidebar_count">
                    <div>영화 & IT 개인 블로그</span></div>
                    <div>총 게시글 <span> : {{mywork_data.count|add:movie_data.count|add:physics_data.count|add:django_data.count|add:network_data.count}}개</span></div>
                    <div>전체 방문자<span> : {{ view.count|intcomma }}명</span></div>
                    <div>블로그 제작<span> : Django 3.11.4</span></div>
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8497490320648322"
                    crossorigin="anonymous"></script>
                    <!-- 디플 사각형 -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-8497490320648322"
                        data-ad-slot="8603808661"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="sidebar_position">
                  <div>
                    <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 이야기 ({{mywork_data.count}})</a>
                    <div class="sidebar_js">
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 현장이야기 ({{mywork_count_one}})</a>
                        <div class="sidebar_js">
                            {% for m in mywork_data %}
                            {% if m.content == '현장이야기' %}
                            <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                                &raquo; {{ m.subject }}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 영화연출 ({{mywork_count_two}})</a>
                        <div class="sidebar_js">
                            {% for m in mywork_data %}
                            {% if m.content == '영화연출' %}
                            <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                                &raquo; {{ m.subject }}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
          
                    <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 감상 후기 ({{movie_data.count}})</a>
                    <div class="sidebar_js">
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 상업영화 ({{movie_count_one}})</a>
                        <div class="sidebar_js">
                            {% for m in movie_data %}
                            {% if m.genre == '상업영화' %}
                            <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                                &raquo; [{{ m.subject }}] 후기
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 드라마 ({{movie_count_two}})</a>
                        <div class="sidebar_js">
                            {% for m in movie_data %}
                            {% if m.genre == '드라마' %}
                            <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                                &raquo; [{{ m.subject }}] 후기
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; OTT 오리지널 ({{movie_count_three}})</a>
                        <div class="sidebar_js">
                            {% for m in movie_data %}
                            {% if m.genre == 'OTT 오리지널' %}
                            <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                                &raquo; [{{ m.subject }}] 후기
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
          
                    <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 물리학 ({{physics_data.count}})</a>   
                    <div class="sidebar_js" style="display: block;">
                        {% for m in physics_data %}
                        <a href="{% url 'engineer:physics' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endfor %}
                    </div>
          
                    <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 프로그래밍 ({{django_data.count}})</a>
                    <div class="sidebar_js" style="display: block;">
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 튜토리얼 ({{django_count_one}})</a>
                        <div class="sidebar_js">
                            {% for m in django_data %}
                            {% if m.code == '튜토리얼' %}
                            <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                                &raquo; {{ m.subject}}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 문법 ({{django_count_two}})</a>
                        <div class="sidebar_js">
                            {% for m in django_data %}
                            {% if m.code == '문법' %}
                            <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                                &raquo; {{ m.subject}}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 템플릿 ({{django_count_three}})</a>
                        <div class="sidebar_js">
                            {% for m in django_data %}
                            {% if m.code == '템플릿' %}
                            <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                                &raquo; {{ m.subject}}
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
          
                    <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 네트워크 ({{network_data.count}})</a>
                    <div class="sidebar_js" style="display: block;">
                        {% for m in network_data %}
                        <a href="{% url 'engineer:network' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}