{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>네트워크 공부 블로그</title>
<meta name="description" content="네트워크 이론 및 후기를 올리는 블로그입니다.">
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="네트워크 공부 블로그" /> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'engineer:network_main' %}" />
<meta property="og:type" content="blog" />
<meta property="og:description" content="네트워크 이론 및 후기를 올리는 블로그입니다." /> 
<meta property="og:image" content="https://doyeon0430.com/static/img/network.jpg">
{% endblock %}
{% load engineer_filter %}
{% block content %}
<div class="container background_design">
    <div class="pt-1 pb-3">
        <div class="row text-center pb-2">
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:main" %}'">
                <div>TOTAL</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                <div>PHYSICS</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:django_main" %}'">
                <div>DJANGO</div>
            </div>
            <div class="col-3 bar_menu bar_click" OnClick="location.href ='{% url "engineer:network_main" %}'">
                <div>NETWORK</div>
            </div>
        </div>

        <div class="container px-3">
            <div class="row justify-content-end my-3">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3">
                    <div class="input-group">
                        <input type="text" placeholder="제목 입력" style="border: 1px solid rgb(184, 184, 184);" id="search_kw" value="{{ kw|default_if_none:'' }}" class="form-control">
                        <button type="button" id="btn_search" class="btn btn-primary">검색</button>
                    </div>
                </div>
            </div>
        </div>
        
        {% for m in page_obj %}
        <div class="row mywork_text py-2" OnClick="location.href ='{% url "engineer:network" m.id %}'">

            <div class="col-12">
                <div class="django_image_div {% if forloop.first %} pt-3 {% endif %}">
                    {% if m.photo %}
                        <img class="django_image" src="{{ m.photo.url }}" alt="{{ m.subject }} 이미지">
                    {% endif %}
                </div>
            </div>

            <div class=" col-12">
                <div class="mywork_col">
                    <h2 class="django_title ">
                        {{ m.subject }}
                    </h2>
                    <h3 class="django_content">                     
                        {% if m.content|length > 55 %}
                            {{ m.content|truncatechars:55 }} 더보기
                        {% else %}
                            {{ m.content }}
                        {% endif %}
                    </h3>
                    <div class="django_date">
                        <a>{{ m.create_date|date:"Y년 m월 d일" }} · 조회 {{m.hits}} · 
                            {{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}번째 글
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div>
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="pagination" style="display: block; text-align: center;">
                    <span class="step-links">
    
                        <!-- 이전 페이지 -->
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" id="prev-page-link"><</a>
                        {% else %}
                            <a class="disabled" style="pointer-events: none"><</a>
                        {% endif %}
    
                        <!-- 이전 페이지 -2 생성 -->
                        {% if page_obj.has_next == 0 %}
                        {% if page_obj.number != 2 %}
                            <a href="?page={{page_obj.number|add:-2}}">{{page_obj.number|add:-2}}</a>
                        {% endif %}
                        {% endif %}
    
                        <!-- 페이지 리스트 -->
                        {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number >= page_obj.number|add:-1 and page_number <= page_obj.number|add:1 %}
                            {% if page_number == page_obj.number %}
                            <a class="current_page" style="color:white">{{page_number}}</a>
                            {% else %}
                            <a href="?page={{ page_number }}">{{page_number}}</a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!-- 다음 페이지 +2 생성 -->
                        {% if page_obj.has_previous == 0 %}
                        {% if django_list.count >= 10 %}
                            <a href="?page={{page_obj.number|add:2}}">{{page_obj.number|add:2}}</a>
                        {% endif %}
                        {% endif %}
                        
                        <!-- 다음 페이지 -->
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" id="prev-page-link">></a>
                        {% else %}
                            <a class="disabled" style="pointer-events: none">></a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<form id="searchForm" method="get" action="{% url 'engineer:network_main' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}