{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>네트워크 공부 블로그</title>
<meta name="title" content="네트워크 공부 블로그"/>
<meta name="description" content="네트워크 이론 및 후기를 올리는 블로그입니다."/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="네트워크 공부 블로그"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'engineer:network_main' %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="네트워크 이론 및 후기를 올리는 블로그입니다."/> 
<meta property="og:image" content="https://doyeon0430.com/static/img/network.jpg"/>
{% endblock %}
{% load engineer_filter %}
{% block content %}
<div class="container background_design">
    <div class="pt-1">
        <div class="row text-center">
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:main" %}'">
                <div>TOTAL</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                <div>PHYSICS</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:django_main" %}'">
                <div>DJANGO</div>
            </div>
            <div class="col-3 bar_menu bar_click" OnClick="location.href ='{% url "engineer:network_main" %}'">
                <div>NETWORK</div>
            </div>
        </div>

    <div class="row">
        <div class="container col-lg-9 pt-3 pb-3 draggable">
            <div class="container px-3">
                <div class="row justify-content-end my-3">
                    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
                        <div class="input-group">
                            <input type="text" placeholder="제목 입력" style="border: 1px solid rgb(184, 184, 184);" id="search_kw" value="{{ kw|default_if_none:'' }}" class="form-control">
                            <button type="button" id="btn_search" class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            
            {% for m in page_obj %}
            <div class="row mywork_text py-2" OnClick="location.href ='{% url "engineer:network" m.id %}'">

                <div class="col-12">
                    <div class="engineer_django_image_div {% if forloop.first %} pt-3 {% endif %}">
                        {% if m.photo %}
                            <img class="engineer_django_image" src="{{ m.photo.url }}" alt="{{ m.subject }} 이미지">
                        {% endif %}
                    </div>
                </div>

                <div class=" col-12">
                    <div class="mywork_col">
                        <h2 class="django_title ">
                            {{ m.subject }}
                        </h2>
                        <h3 class="django_content">                     
                            {% if m.content|length > 55 %}
                                {{ m.content|truncatechars:55 }} 더보기
                            {% else %}
                                {{ m.content }}
                            {% endif %}
                        </h3>
                        <div class="django_date">
                            <a>{{ m.create_date|date:"Y년 m월 d일" }} · 조회 {{m.hits}} · 
                                {{ page_obj.paginator.count|sub:page_obj.start_index|sub:forloop.counter0|add:1  }}번째 글
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div>
            {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    <!-- 이전 페이지 -->
                    <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" id="prev-page-link"><span aria-hidden="true">&laquo;</span></a>
                    {% else %}
                        <a class="page-link disabled" style="pointer-events: none"><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                    </li>

                    <!-- <li class="page-item">
                    이전 페이지 -2 생성
                    {% if page_obj.has_next == 0 %}
                        <a class="page-link" href="?page={{page_obj.number|add:-2}}">{{page_obj.number|add:-2}}</a>
                    {% endif %}
                    </li> -->

                    <!-- 페이지 리스트 -->
                    {% for page_number in page_obj.paginator.page_range %}
                    <li class="page-item">
                    {% if page_number >= page_obj.number|add:-1 and page_number <= page_obj.number|add:1 %}
                        {% if page_number == page_obj.number %}
                        <a class="page-link active">{{page_number}}</a>
                        {% else %}
                        <a class="page-link" href="?page={{ page_number }}">{{page_number}}</a>
                        {% endif %}
                    {% endif %}
                    </li>
                    {% endfor %}

                    <!-- <li class="page-item">
                    다음 페이지 +2 생성
                    {% if page_obj.has_previous == 0 %}
                        <a class="page-link" href="?page={{page_obj.number|add:2}}">{{page_obj.number|add:2}}</a>
                    {% endif %}
                    </li> -->

                    <li class="page-item">
                    <!-- 다음 페이지 -->
                    {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" id="prev-page-link"><span aria-hidden="true">&raquo;</span></a>
                    {% else %}
                        <a class="page-link disabled" style="pointer-events: none"><span aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                    </li>
                </ul>
            </nav>
            {% endif %}
            </div>
        </div>
        <div class="col-lg-3 sidebar_main" style="background-color: #ffffff;">
            <div class="sidebar_count">
                <div>전체 방문자<span> : {{view.count}}명</span></div>
            </div>
            <div style="position: sticky; top: 2rem; padding: 0.6rem 0rem 0rem 0rem;">
              <div>
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 이야기 ({{mywork_data.count}})</a>
                <div class="sidebar_js">
                    {% for m in mywork_data %}
                    <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                        &raquo; {{ m.subject }}
                    </a>
                    {% endfor %}
                </div>
        
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 감상 후기 ({{movie_data.count}})</a>
                <div class="sidebar_js">
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 상업영화 ({{movie_count_one}})</a>
                    <div class="sidebar_js">
                        {% for m in movie_data %}
                        {% if m.genre == '상업영화' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 드라마 ({{movie_count_two}})</a>
                    <div class="sidebar_js">
                        {% for m in movie_data %}
                        {% if m.genre == '드라마' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; OTT 오리지널 ({{movie_count_three}})</a>
                    <div class="sidebar_js">
                        {% for m in movie_data %}
                        {% if m.genre == 'OTT 오리지널' %}
                        <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                            &raquo; [{{ m.subject }}] 후기
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 물리학 ({{physics_data.count}})</a>   
                <div class="sidebar_js">
                    {% for m in physics_data %}
                    <a href="{% url 'engineer:physics' m.id %}" class="sidebar_for">
                        &raquo; {{ m.subject}}
                    </a>
                    {% endfor %}
                </div>
        
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 프로그래밍 ({{django_data.count}})</a>
                <div class="sidebar_js">
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 튜토리얼 ({{django_count_one}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '튜토리얼' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 문법 ({{django_count_two}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '문법' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 템플릿 ({{django_count_three}})</a>
                    <div class="sidebar_js">
                        {% for m in django_data %}
                        {% if m.code == '템플릿' %}
                        <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                            &raquo; {{ m.subject}}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        
                <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 네트워크 ({{network_data.count}})</a>
                <div class="sidebar_js" style="display: block;">
                    {% for m in network_data %}
                    <a href="{% url 'engineer:network' m.id %}" class="sidebar_for">
                        &raquo; {{ m.subject}}
                    </a>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<form id="searchForm" method="get" action="{% url 'engineer:network_main' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<script>
    document.getElementById("search_kw").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {  // Enter 키의 keyCode는 13입니다.
            event.preventDefault();
            document.getElementById("btn_search").click();  // 검색 버튼 클릭 이벤트 실행
        }
    });
    var input = document.getElementById("search_kw");
    input.value = null;
</script> 
{% endblock %}