{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container background_design" >
    <div class="pt-1 pb-3">
    <div class="row text-center pb-2">
        <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:main" %}'">
            <div>TOTAL</div>
        </div>
        <div class="col-3 bar_menu bar_click" OnClick="location.href ='{% url "engineer:physics_main" %}'">
            <div>PHYSICS</div>
        </div>
        <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:django_main" %}'">
            <div>DJANGO</div>
        </div>
        <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:network_main" %}'">
            <div>NETWORK</div>
        </div>
    </div>
    <div class="container mt-3 pb-3 draggable">
        <div class="detail_subject">
            {{physics.subject}}
        </div>
        <div class="detail_date">
            <div>
                <strong>Doyeon0430</strong> ·  {{physics.create_date|date:"Y년 m월 d일"}}</div>
        </div>
        <div class="detail_main">
            <a href="{% url 'engineer:physics_main' %}">#physics</a>
        </div>
        <div class="text-center">
            <img class="detail_img" src="{% static 'img/physicsimg.jpg' %}" alt="{{ m.subject }} 이미지">
        </div>
        {{physics.htmlcontent|safe}}
        <div style="display: flex;">
            <div class="detail_url" style="flex: 1;">
                <div>
                    <a href="mailto:kim73916@naver.com"><img class="detail_url_img" src="{% static 'img/email_img.png' %}" alt="My Image"></a>
                    <a href="https://www.instagram.com/doyeon0430/"><img class="detail_url_img"  src="{% static 'img/instagram_img.png' %}" alt="My Image"></a>
                    <a href="https://github.com/DoYeon0430"><img class="detail_url_img" src="{% static 'img/github_img.png' %}" alt="My Image"></a>
                    <a href="{% url 'myprofile:main' %}"><img class="detail_url_img" src="{% static 'img/home_img.png' %}" alt="My Image"></a>
                </div>   
            </div>
            <div class="detail_border" style="flex: 1;">
                <a href="{% url 'engineer:physics_main' %}">
                    <div style="padding-top: 0.2rem; border-bottom: 1px solid black; ">
                        <strong>메인으로</strong>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}

