{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{physics.subject}}</title>
<meta name="title" content="{{physics.subject}}"/>
<meta name="description" content="{{physics.meta}}"/>
<link rel="icon" href="{% static 'img/favicon.ico' %}"/>

<meta property="og:title" content="{{physics.subject}}"/> 
<meta property="og:url" content="https://www.doyeon0430.com{% url 'engineer:physics' physics.id %}"/>
<meta property="og:type" content="blog"/>
<meta property="og:description" content="{{physics.meta}}"/> 
<meta property="og:image" content="https://www.doyeon0430.com{{ physics.photo.url }}"/>
{% endblock %}
{% block content %}

<div class="container background_design">
      <div class="pt-1">
        <div class="row text-center">
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:main" %}'">
                <div>TOTAL</div>
            </div>
            <div class="col-3 bar_menu bar_click" OnClick="location.href ='{% url "engineer:physics_main" %}'">
                <div>PHYSICS</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:django_main" %}'">
                <div>DJANGO</div>
            </div>
            <div class="col-3 bar_menu" OnClick="location.href ='{% url "engineer:network_main" %}'">
                <div>NETWORK</div>
            </div>
        </div>
      </div>

       <div class="row">
    <div class="container col-lg-9 pt-3 pb-3 draggable">
      <h1 class="detail_subject">
          {{physics.subject}}
      </h1>
      <div class="detail_date">
          <a>
              <strong>Doyeon0430</strong> ·  {{physics.create_date|date:"Y년 m월 d일"}}
          </a>
      </div>
      <div class="detail_main">
          <a href="{% url 'engineer:physics_main' %}">#PHYSICS</a>
      </div>
      <div class="text-center">
          <img class="detail_img" src="{% static 'img/physicsimg.jpg' %}" alt="Physics 이미지">
      </div>
      {{physics.htmlcontent|safe}}

      <p class="chat_subejct pt-3">댓글 ({{ comments.count }})</p>
      <ul class="chat_sub_content"  id="comment-form">
        {% for comment in comments %}
          <span>{{ comment.username }}</span>
          <div style="white-space: pre-line">{{ comment.content|safe }}</div>
          <p class="text-end draggable_off">{{ comment.create_date|date:"y/m/d H:i" }} | 
            <a class="delete-comment" style="color: red; text-decoration: none; cursor: pointer;" 
            data-comment-id="{{ comment.pk }}">삭제</a>
          </p>
      
          <form class="row delete-form" style="display: none;" method="POST">
            {% csrf_token %}
            <div class="col-4 col-lg-9"></div>
            <input type="hidden" name="comment_id" value="{{ comment.pk }}">
            <div class="col-5 col-lg-2 pr-1" style="padding-right:0rem">
              <input type="password" name="password" class="form-control mb-3" placeholder="PW">
            </div>
            <div class="col-3 col-lg-1 pl-0" style="padding-left:0rem">
              <button type="submit" class="btn btn-dark bg-danger w-100">입력</button>
            </div>
          </form>
      

        {% empty %}
          <div>댓글이 없습니다.</div>
        {% endfor %}
      </ul>

      <p class="chat_subejct pt-3">간편 댓글 작성</p> 
      <form method="post" style="border-bottom:3px solid rgb(0, 0, 0);" class="pb-3">
        {% csrf_token %}
        <div class="row pb-1">
          <div class="col-6 chat_content">
            <input type="text" name="username" id="username" 
              class="form-control" 
              value="{{ form.username.value|default_if_none:'' }}"
              placeholder="닉네임"
            >
          </div>
          <div class="col-6 chat_content">
            <input type="password" name="password" id="password" 
              class="form-control" 
              value="{{ form.password.value|default_if_none:'' }}"
              placeholder="비밀번호"
            >
          </div>
                
          <div class="col-12 chat_content">
            <textarea name="content" id="content" 
              class="form-control" 
              rows="3" style="resize: none;"
              placeholder="내용을 입력하세요."
            >{{ form.content.value|default_if_none:'' }}</textarea>
      
            <div class="text-end pt-3">
              <button type="submit" class="btn btn-dark px-3 bg-success">댓글 작성</button>
            </div>
          </div>
        </div>
      </form>

      <div style="display: flex;">
          <div class="detail_url" style="flex: 1;">
              <div>
                  <a href="mailto:kim73916@naver.com"><img class="detail_url_img" src="{% static 'img/email_img.png' %}" alt="My Image"></a>
                  <a href="https://www.instagram.com/doyeon0430/"><img class="detail_url_img"  src="{% static 'img/instagram_img.png' %}" alt="My Image"></a>
                  <a href="https://github.com/DoYeon0430"><img class="detail_url_img" src="{% static 'img/github_img.png' %}" alt="My Image"></a>
                  <a href="{% url 'myprofile:main' %}"><img class="detail_url_img" src="{% static 'img/home_img.png' %}" alt="My Image"></a>
              </div>   
          </div>
          <div class="detail_border" style="flex: 1;">
              <a href="{% url 'engineer:physics_main' %}">
                  <div style="padding-top: 1rem; border-bottom: 1px solid black; ">
                      <strong>메인으로</strong>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="col-lg-3 mb-3 sidebar_main" style="background-color: #ffffff;">
    <div class="sidebar_count">
        <div>전체 방문자<span> : {{view.count}}명</span></div>
    </div>
    <div style="position: sticky; top: 2rem; padding: 0.6rem 0rem 0rem 0rem;">
      <div>
        <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 이야기 ({{mywork_data.count}})</a>
        <div class="sidebar_js">
            {% for m in mywork_data %}
            <a href="{% url 'mywork:detail' m.id %}" class="sidebar_for">
                &raquo; {{ m.subject }}
            </a>
            {% endfor %}
        </div>

        <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 영화 감상 후기 ({{movie_data.count}})</a>
        <div class="sidebar_js">
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 상업영화 ({{movie_count_one}})</a>
            <div class="sidebar_js">
                {% for m in movie_data %}
                {% if m.genre == '상업영화' %}
                <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                    &raquo; [{{ m.subject }}] 후기
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; 드라마 ({{movie_count_two}})</a>
            <div class="sidebar_js">
                {% for m in movie_data %}
                {% if m.genre == '드라마' %}
                <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                    &raquo; [{{ m.subject }}] 후기
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; OTT 오리지널 ({{movie_count_three}})</a>
            <div class="sidebar_js">
                {% for m in movie_data %}
                {% if m.genre == 'OTT 오리지널' %}
                <a href="{% url 'movie:detail' m.id %}" class="sidebar_for">
                    &raquo; [{{ m.subject }}] 후기
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 물리학 ({{physics_data.count}})</a>   
        <div class="sidebar_js" style="display: block;">
            {% for m in physics_data %}
            <a href="{% url 'engineer:physics' m.id %}" class="sidebar_for
            {% if physics.id == m.id %} 
            bar_check
            {% endif %}">
                &raquo; {{ m.subject}}
            </a>
            {% endfor %}
        </div>

        <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 프로그래밍 ({{django_data.count}})</a>
        <div class="sidebar_js">
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 튜토리얼 ({{django_count_one}})</a>
            <div class="sidebar_js">
                {% for m in django_data %}
                {% if m.code == '튜토리얼' %}
                <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                    &raquo; {{ m.subject}}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 문법 ({{django_count_two}})</a>
            <div class="sidebar_js">
                {% for m in django_data %}
                {% if m.code == '문법' %}
                <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                    &raquo; {{ m.subject}}
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <a class="sidebar_tag_one" onclick="toggleSidebarFor(event)">&#43; Django 템플릿 ({{django_count_three}})</a>
            <div class="sidebar_js">
                {% for m in django_data %}
                {% if m.code == '템플릿' %}
                <a href="{% url 'engineer:django' m.id %}" class="sidebar_for">
                    &raquo; {{ m.subject}}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <a class="sidebar_tag" onclick="toggleSidebarFor(event)">&#43; 네트워크 ({{network_data.count}})</a>
        <div class="sidebar_js">
            {% for m in network_data %}
            <a href="{% url 'engineer:network' m.id %}" class="sidebar_for">
                &raquo; {{ m.subject}}
            </a>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
  </div>
</div>
{% if form.errors %}
<script>
  // JavaScript 코드를 이용하여 경고 메시지 표시
  document.addEventListener('DOMContentLoaded', function() {
    var errorMessage = '잘못된 내용입니다.'; // 경고 메시지 내용
    alert(errorMessage); // 경고 메시지 표시
    history.replaceState({}, document.title, window.location.href.split('?')[0]); // URL 파라미터 제거
  });
</script>
{% endif %}

{% endblock %}

