{% load static %}
<!doctype html>
<html lang="ko">
<head>
    {% block title %}
    {% endblock %}
    <meta name="naver-site-verification" content="cb5cab04c27969e7801ed54220c0debd386a23ef" />
    <!-- Required meta tags --> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/movie.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homeimg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myprofile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mywork.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/engineer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tinyMCE.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
</head>
<body>
  <div class="logo-container">
    <div class="logo">
        <a href="{% url 'myprofile:home' %}">
        <img src="{% static 'img/logotest.jpg' %}" alt="My Image">
        </a>
    </div>
</div>

<nav class="navbar">
  <ul class="nav-links drag_prevent">
      <li><a href="{% url 'myprofile:main' %}">나의 소개</a></li>
      <li><a href="{% url 'mywork:main' %}">영화 이야기</a></li>
      <li><a href="{% url 'movie:main' %}">영화 감상 후기</a></li>
      <li><a href="{% url 'engineer:main' %}">기초 공학 정리</a></li>
  </ul>
</nav>

<button class="navbar-burger" onclick="toggleMenu()">
</button>

<div class="menu">
    <nav>
        <a href="{% url 'myprofile:main' %}" style="animation-delay: 0.3s;">나의 소개</a>
        <a href="{% url 'mywork:main' %}" style="animation-delay: 0.2s;">영화 이야기</a>
        <a href="{% url 'movie:main' %}" style="animation-delay: 0.2s;">영화 감상 후기</a>
        <a href="{% url 'engineer:main' %}" style="animation-delay: 0.2s;">기초 공학 정리</a>
    </nav>
</div>

<div id="slider" class="container">
    <img src="{% static 'img/movieimg5.jpg' %}" alt="My Image" class="home_img">
    <img src="{% static 'img/movieimg1.jpg' %}" alt="My Image" class="home_img">
    <img src="{% static 'img/movieimg3.jpg' %}" alt="My Image" class="home_img">
</div>



<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<div style="background-color: rgb(188, 188, 188);" class="draggable">
    <div class="container"  style="padding: 0px 1rem; font-weight: 600;">
        <div class="pt-3" style="text-align: right; font-size: small;">Python 3.10.11 | Django 4.2.1</div>
        <div style="text-align: right; font-size: small;">Non Commercial Blog</div>
        <div style="text-align: right; font-size: small;"><a href="/admin" style="color: blue; text-decoration: none;">데이터베이스 접속</a></div>
        <div class="pb-2 pt-2 " style="text-align: center; font-size: medium; color: rgb(99, 99, 99);">Copyright © 2023 by Doyeon0430</div>
    </div>
</div>
<a class="draggable_off" id="scrollTopLink" href="#" style="position: fixed; bottom: 1.5rem; right: 1.5rem; display: none;"><img style="width: 35px; height: 35px; opacity: 0.7;" src="{% static 'img/top.png' %}" alt="My Image"></a>
</body>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/imgslider.js"></script>
<script type="text/javascript" src="/static/js/movie_text.js"></script>
<script type="text/javascript" src="/static/js/movie_pag.js"></script>
<script type="text/javascript" src="/static/js/mywork_main.js"></script>
<script type="text/javascript" src="/static/js/mywork_main_1.js"></script>
<script type="text/javascript" src="/static/js/myprofile_form.js"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
<script type="text/javascript" src="/static/js/sidebar.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // 스크롤 이벤트 리스너 추가
    window.addEventListener('scroll', function() {
      // 현재 스크롤 위치
      var scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
  
      // 스크롤이 1px 이상 내려갔을 때
      if (scrollPosition > 0) {
        // 링크 보이기
        document.getElementById("scrollTopLink").style.display = "block";
      } else {
        // 링크 숨기기
        document.getElementById("scrollTopLink").style.display = "none";
      }
    });
</script>
<script>
  // 페이지가 로드되었을 때 실행되는 함수
  window.addEventListener("load", function() {
    // 클릭 이벤트를 body 요소에 추가
    var body = document.querySelector("body");
    body.addEventListener("click", handleBodyClick);
  });

  // body 클릭 이벤트 핸들러
  function handleBodyClick(event) {
    var target = event.target;
    var body = document.querySelector("body");
    var menu = document.querySelector(".menu");

    // 클릭된 요소가 메뉴 토글 버튼이 아니고, 메뉴 영역 내부에 속하지 않는 경우 메뉴를 닫음
    if (!target.classList.contains("navbar-burger") && !menu.contains(target)) {
      body.classList.remove("open");
      menu.style.transform = "translateX(100%)";
    }
  }

  // 메뉴 토글 함수
  function toggleMenu() {
    var body = document.querySelector("body");
    var menu = document.querySelector(".menu");

    body.classList.toggle("open");

    if (body.classList.contains("open")) {
      menu.style.transform = "translateX(0)";
    } else {
      menu.style.transform = "translateX(100%)";
    }
  }
</script>

</html>